#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:darkgrey;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 20px;
}

.topnav a:hover {
  background-color:lightgrey;
  color: black;
}

/* style for chart */
#usmap {
  position: relative;
  width: 100%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color:lightskyblue;
  }

/* style for timeline */
#timelineContainer{
  position: relative;
  width: 100%;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
  background-color:lightyellow;

}
/* style for chart */
.chart {
  float: left;
  width: 33.33%;
  height: 400px;
  padding: 15px;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* style for footer */
#footer{
  position:fixed;
  bottom:0;
  width:100%;
  background-color: darkgrey;
  text-align: center;
}


